/* fonts */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/variable/pretendardvariable-dynamic-subset.css");
@font-face {
  font-family: "Chosunilbo_myungjo";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Chosunilbo_myungjo.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@import url("https://fonts.cdnfonts.com/css/rajdhani");
.chosun {
  font-family: "Chosunilbo_myungjo";
}

/* reset */
* {
  font-family: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
body {
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}

/* container */
.container {
  margin: 0 auto;
  width: 100vw;
  position: relative;
  background-color: #231f20;
}
.container::after {
  display: block;
  content: "";

  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1001;
  background-image: url("https://i.ibb.co/x3TCktM/645cbb8ec449398255b76326-noise.gif");
  background-position: 0 0;
  background-size: auto;
  pointer-events: none;
  opacity: 0.05;
  transition: opacity 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  visibility: visible;
  /*   원본 페이지 : https://www.rawlab.co */
}

.detail_img > img {
  width: 100vw;
}

.swiper {
  width: 100vw;
  overflow-x: hidden;
}

.swiper-wrapper {
  display: flex;
  flex-wrap: nowrap;
  padding: 40px;
}
.swiper-wrapper .swiper-slide {
  margin-right: 20px;
  margin-bottom: 100px;
}
.swiper-wrapper .swiper-slide > img {
  width: 300px;
  border: 8px solid #000;
  border-radius: 40px;
  object-fit: cover;
  box-shadow: 8px 12px 20px rgba(0, 0, 0, 0.1);
  box-sizing: content-box;
}
